.navbar {
    position: absolute;
    flex-direction: row;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    overflow:visible;
    text-align: center;
}

.title-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15;
}

.gameboard {
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 100px 100px; /*Make the grid smaller than the container*/
    gap: 1px;
    padding: 10px;
    text-align: center;
    border-style:none;
    border-width: 15px 15px;
}
  
.gameboard > div {
    background-color: lightblue;
    text-align: center;
    padding: 25% 0;
    font-size: 30px;
}

body, html {
    margin: 0;
    background-image: url("bricks.png");
    background-position:inherit;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /*Set the height of the body and html to the full viewport height*/
    /*overflow: hidden; /*Hide any content that exceeds the viewport height*/
    padding: 0; /*Remove any padding*/
}
.resultwindow {
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 100px; /*Make the grid smaller than the container*/
    gap: 1px;
    align-items: center; /*Center the flex items vertically*/
    margin: auto;
    text-align: center;
    border-style:solid;
    border-width: 5px 5px;
    background-color: cornflowerblue;
    width: 300px;
}

.resultwindow > div {
    max-width: 50%; /*Ensure the child divs don't exceed 100% of the container's width*/
    background-color: cornflowerblue;
    padding: 20px;
    font-size: 17px;
    color:white;
    text-align: center;
    overflow-wrap: break-word;
}

.button {
    background-color: cornflowerblue;
    color:white;
    border-style:none;
    cursor: pointer;
    font-size: 17px;
}

.boardbutton {
    height: 100px;
    width: 100px;
    background-color:lightblue;
    /*background-color: aqua;*/
    color:black;
    border-style:none;
    cursor: pointer;
    font-size: 100%;
}